
.navbar-popup-panel
{
    width: 400px;

    .navbar-popup-panel-head
    {
        border-bottom: 1px solid $navbar-popup-panel-border-color;

        background: $navbar-popup-panel-head-bg;
        padding: 8px;
        font-weight: bold;
    }
    .navbar-popup-panel-body
    {
        max-height: calc(100vh - 180px);
    
        overflow-x: hidden;
        overflow-y: auto;
    }
    .navbar-popup-panel-footer
    {
        height: $navbar-popup-panel-footer-height;
        background: $navbar-popup-panel-footer-color;
        border-top: 1px solid $navbar-popup-panel-border-color;
    }
}

.navbar-popup-panel-item
{
    display: flex;
    align-items: center;
    position: relative;
    height: $navbar-popup-panel-item-height;
    margin: 0;
    padding: 0;
    background: $navbar-popup-panel-item-bg;
    border-bottom: 1px solid $navbar-popup-panel-item-border-color;
    cursor: pointer;
    overflow: hidden;

    &:last-child
    {
        border-bottom: none;
    }

    &.highlight
    {
        background: $navbar-popup-panel-item-bg-highlight;
    }
    &:hover
    {
        background: $navbar-popup-panel-item-bg-hover;
    }
}
