
.navbar
{
    .navbar-badge
    {
        padding: 2px 6px;
        border-radius: 1px;
        font-size: 10px;
        font-weight: bold;
        pointer-events: none;
        background: $navbar-badge-bg;
        color: $navbar-badge-color;
        line-height: 1.3;
        border-radius: 2px;
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.02);

        top: -4px;
        right: -2px;
        position: absolute;
    }
}
