
// Badge
$navbar-badge-bg: $danger !default;
$navbar-badge-color: $white !default;

// Panel
$navbar-popup-panel-border-color: #ccc !default;

// Panel item
$navbar-popup-panel-item-height: 70px !default;

$navbar-popup-panel-item-bg: $body-bg !default;
$navbar-popup-panel-item-bg-hover: #f0f0f0 !default;
$navbar-popup-panel-item-bg-highlight: lighten($primary, 45%) !default;
$navbar-popup-panel-item-border-color: #ccc !default;

// Panel header
$navbar-popup-panel-head-bg: $body-bg !default;


// Panel footer
$navbar-popup-panel-footer-color: #f7f7f7 !default;
$navbar-popup-panel-footer-height: 42px !default;

// ...
@import './styles/NavbarBadge.scss';
@import './styles/NavbarPopupPanel.scss';
